mixin slider-item(item_image, title, descr, price)
  li.big-slider__item
    .big-slider__image
      img(src="img/#{item_image}", alt="Изображение").image
      
    .big-slider__content
      h2.big-slider__title #{title}
      // это изображение видно только под мобильные
      .big-slider__img-for-mobile
        img(src="img/#{item_image}", alt="Изображение")
      p.big-slider__descr #{descr}
      
      .big-slider__price-wrap
        span.big-slider__price #{price}

      .big-slider__button-wrap
        a(href="card-page.html").big-slider__button.button Узнать больше


// BIG TOP SLIDER
section.big-slider-top
  
  .container

    .big-slider-wrap

      //- .slider-top__arrow-wrap
      .slider-top__left-arrow
        include ../_0-icon-svg/arrow-left-thin.svg
      .slider-top__right-arrow
        include ../_0-icon-svg/arrow-right-thin.svg
    
      ul.slider-top__items-list.main-page__big-slider
        
        +slider-item('fox.jpg', 'Матрас: Adelina', 'Эти матрасы понравятся тем, кто любит спать на максимально мягких матрасах, которые принимают форму вашего тела.', '8 999 руб.')

        +slider-item('fox.jpg', 'Матрас: Adelina', 'Эти матрасы понравятся тем, кто любит спать на максимально мягких матрасах, которые принимают форму вашего тела.', '8 999 руб.')

        +slider-item('fox.jpg', 'Матрас: Adelina', 'Эти матрасы понравятся тем, кто любит спать на максимально мягких матрасах, которые принимают форму вашего тела.', '8 999 руб.')

        +slider-item('fox.jpg', 'Матрас: Adelina', 'Эти матрасы понравятся тем, кто любит спать на максимально мягких матрасах, которые принимают форму вашего тела.', '8 999 руб.')

        +slider-item('fox.jpg', 'Матрас: Adelina', 'Эти матрасы понравятся тем, кто любит спать на максимально мягких матрасах, которые принимают форму вашего тела.', '8 999 руб.')
// end BIG SLIDER
// ######################################################################